<div class="container">
<div class="row">
  <h1 class="mx-auto">New Employee</h1>
</div>

  <%= form_with model: @employee do |form| %>
  
  <div class="row my-3">
    <div class="col-5 border rounded p-2 my-1 mx-auto">
      <h3>Personal Information</h3>
      <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
    </div>
    <div class="col-5 border rounded p-2 my-1 mx-auto">
      <h3>Professional Information</h3>
      <div>
        <%= form.label :address %>
        <%= form.text_area :address, class: 'rounded' %>
      </div>
    </div>
      
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= form.submit "Add Employee" %>
    </div>
  </div>

  <% end %>
</div>