<div>

  <div class="row">
    <h1 class="mx-auto">Employee #<%= @employee.id %></h1>
  </div>
  
  <div class="row">
    <div class="border rounded col-md-5 col-6 p-2 my-1 mx-auto">
      <p>Name: <%= @employee.name %></p>
      <p>Email: <%= @employee.email %></p>
      <p>Date of Birth: <%= @employee.dob %></p>
      <p>Mobile: <%= @employee.mobile %></p>
    </div>

    <div class="border rounded col-md-5 col-6 p-2 my-1 mx-auto">
      <p>Designation: <%= @employee.designation %></p>
      <p>Salary: <%= @employee.salary %></p>
      <p>Manager: <%= link_to @employee.manager.name, manager_path(@employee.manager) %></p>
    </div>
  </div>

  <div class="row">
    <%= link_to "Back", :back, class: 'mx-auto' %>
    <%= link_to "Modify", edit_employee_path, class: 'mx-auto' %>
    <%= link_to "Delete", employee_path, method: :delete, data: { confirm: "Are you sure want to delete employee \"#{ @employee.name }\"?" }, class: 'mx-auto' %>
  </div>
</div>